Package: k3b-i18n
Source: k3b
Version: 19.12.3-0ubuntu1
Architecture: all
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Installed-Size: 16241
Section: localization
Priority: optional
Homepage: https://userbase.kde.org/K3b
Description: Sophisticated CD/DVD burning application - localizations files
 K3b provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable k3b defaults which allow a quick start.
 .
 This package contains translations files.
Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
