Package: libk3b-dev
Source: k3b
Version: 19.12.3-0ubuntu1
Architecture: amd64
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Installed-Size: 541
Depends: libk3b7 (= 19.12.3-0ubuntu1)
Section: libdevel
Priority: optional
Homepage: https://userbase.kde.org/K3b
Description: KDE CD/DVD burning application library - development files
 K3b provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable k3b defaults which allow a quick start.
 .
 This package contains development files.
Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
