Package: k3b-data
Source: k3b
Version: 19.12.3-0ubuntu1
Architecture: all
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Installed-Size: 10479
Breaks: k3b-extrathemes (<< 18.08.3~), libk3b7 (<< 18.08.3~)
Replaces: k3b-extrathemes (<< 18.08.3~), libk3b7 (<< 18.08.3~)
Section: kde
Priority: optional
Homepage: https://userbase.kde.org/K3b
Description: Sophisticated CD/DVD burning application - data files
 K3b provides a comfortable user interface to perform most CD/DVD burning
 tasks. While the experienced user can take influence in all steps
 of the burning process the beginner may find comfort in the automatic settings
 and the reasonable k3b defaults which allow a quick start.
 .
 This package contains the required data files common to all architectures.
Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
